/* Columns design */

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  /*
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
  width: 100px;
  display: inline-block;
}

 .row {
    width: 100%;
    text-align: center;
 }
/* Clear floats after the columns */
/*
.row:after {
  content: "";
  display: table;
  clear: both;
}
*/

#leftColumn {
  height: 500px;
  width: 320px;
  float: left;
}
/*
#rightColumn {
    width: 1500px;
    float: right;
}
*/
.profilePic {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  transition: all .3s ease-in-out;
}

.profilePic:hover {
  border-radius:0;  
  cursor: pointer;
  height: 200px;
  width: 200px;
}

.profileButton {
  margin-top: 5px;
  background: #3498db;
  background-image: -webkit-linear-gradient(top,#A9A9A9,#A9A9A9);
  background-image: -moz-linear-gradient(top,#A9A9A9,#A9A9A9);
  background-image: -ms-linear-gradient(top, #A9A9A9,#A9A9A9);
  background-image: -o-linear-gradient(top, #A9A9A9,#A9A9A9);
  background-image: linear-gradient(to bottom,#A9A9A9,#A9A9A9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.profileButton:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, 	#808080,#808080);
  background-image: -moz-linear-gradient(top, #808080, #808080);
  background-image: -ms-linear-gradient(top, #808080, #808080);
  background-image: -o-linear-gradient(top, #808080, #808080);
  background-image: linear-gradient(to bottom, #808080, #808080);
  text-decoration: none;
}

/* Search Bar */
.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: #2196F3; 
  color: white;
  border-radius: 20%;
  margin: 5px;
  float: right;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}


#navbarDiv {
  width: 200px;
}
#navbarHeading {
  margin: 0;
    display: inline-block;
}

textarea {
    font-size: 15px;
}
/*
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

li {
  float: left;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ddd;
}

li a.active {
  color: white;
  background-color: #4CAF50;
}    
*/